asgiref==3.5.2
astroid==2.12.10
dill==0.3.5.1
dj-database-url==1.0.0
dj-static==0.0.6
Django==4.1.2
django-stdimage==6.0.1
gunicorn==20.1.0
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
Pillow==9.2.0
platformdirs==2.5.2
psycopg2-binary==2.9.3
pylint==2.15.3
python-decouple==3.6
pytz==2022.4
sqlparse==0.4.3
static3==0.7.0
tomli==2.0.1
tomlkit==0.11.5
wrapt==1.14.1
